body{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

ul li{
    display: inline-block;
}

ul li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
}

ul li a:hover{
    background-color: antiquewhite;
    color: black;
}

.dropdown{ /* ul li css 와 동일함*/
    position: relative;
    display: inline-block; 
    /* 메뉴 한개 더(따로) 만들어준다고 생각하면 됨 똑같이 인라인 블럭, 포지션 원래 그대로 relative*/
}


.dropbtn{ /* ul li a css 와 동일함*/
    padding: 20px;
}

.dropdown-content{ /*dropdown content 박스 css*/
    display: none;
    position: absolute; /* 부유 시켜줌 위로 띄는 과정 */
    background-color: brown;
    min-width: 160px;
    z-index: 1;
}


.dropdown-content a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color:antiquewhite;
    color: black;
}

.dropdown-content a{
    box-shadow: 3px 3px 3px #333;
}

input[type="text"],select{
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

input[type="submit"]{
    width: 100%;
    padding: 14px 20px;
    margin:8px 0;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


